<!doctype>
<html>
<head>

</head>
<body>

    <!-- Start main-content -->
    <h1> Booking Mail</h1>
    <h2> From : {{ name }}</h2>
    <h5>date : {{ date }}</h5>
    <h5> phone : {{ phone }}</h5>
    <h5>{{ message }}</h5>
</body>

<!-- end main-content -->
</html>


