
.page-header.navbar .page-logo .logo-default {
    margin: 8px 10px 0 !important;
}

body{

    font-family: 'DroidArabicKufiRegular' !important;
    font-weight: normal;
    font-style: normal;

}

